{% from 'macros/footer.html' import footer %}
{% from 'macros/dwukropek2.html' import logo %}
{% extends "base.html" %}
{% block content %}
<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            {{ logo() }}
            <p>Restauracja z pasją</p>
            <p>{{ email }}</p>
            {{ super() }}
        </header>
        <span class="image"><img src="{{ url_for('static', filename='images/miki_logo.png') }}" alt=""/></span>
    </div>
    <a href="#one" class="goto-next scrolly">Następna</a>
</section>

<!-- One -->
<section id="one" class="spotlight style1 bottom">
    <span class="image fit main"><img src="{{ url_for('static', filename='images/pic2.jpg') }}" alt=""/></span>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-medium">
                    <header>
                        <h2>Cudowne wypieki, dania, kanapki, napoje.</h2>
                        <p>Autorskie przepisy, własnoręczna robota, świeże składniki.</p>
                    </header>
                </div>
                <div class="col-4 col-12-medium">
                    <p>Restauracja Mikołaja Andrzejczaka pod nazwą "Dwukropek" to rodzinna firma, wspomagana przez
                        Martę i Marcina Andrzejczaków. Dostarczają świeże składniki, które są niezbędne do wykonania
                        wypieków.</p>
                </div>
                <div class="col-4 col-12-medium">
                    <p>Dodatkowo restarucję "Dwukropek" wspiera Agata Siwek, rozsyłając cudowne wypieki po świecie.
                        Pod ksywką Dżajsa zawsze wspomagała działalność mojej firmy.</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#two" class="goto-next scrolly">Next</a>
</section>

<!-- Two -->
<section id="two" class="spotlight style2 right">
    <span class="image fit main"><img src="{{ url_for('static', filename='images/pic5.jpg') }}" alt=""/></span>
    <div class="content">
        <header>
            <h2>Najbardziej odkrywcza kruszonka do ciasta drożdżowego.</h2>
            <p>Ciasto drożdżowe jest jak dotąd moim najlepszym dziełem.</p>
        </header>
        <p>Ciesząca się ogromną sławą kruszonka mojej produkcji powstała z prostego pomysłu i jest szczególnym
            elementem ciasta drożdżowego.</p>
        <ul class="actions">
            <li><a href="#" class="button">Dowiedz się więcej</a></li>
        </ul>
    </div>
    <a href="#three" class="goto-next scrolly">Dalej</a>
</section>

<!-- Three -->
<section id="three" class="spotlight style3 left">
        <span class="image fit main bottom"><img src="{{ url_for('static', filename='images/pic4.jpg') }}"
                                                 alt=""/></span>
    <div class="content">
        <header>
            <h2>Poznawanie nowych smaków.</h2>
            <p>Podróżując po całym świecie zdobywam doświadczenia i nabieram inspiracji.</p>
        </header>
        <p>Uczę się języka francuskiego, a moją pasją są tramwaje i pociągi. Ostatni mój pomysł to ciastka w kształcie
            pociągu.</p>
        <ul class="actions">
            <li><a href="#" class="button">Dowiedz się więcej</a></li>
        </ul>
    </div>
    <a href="#four" class="goto-next scrolly">Dalej</a>
</section>

<!-- Five -->
<section id="five" class="wrapper style2 special fade">
    <div class="container">
        <header>
            <h2>Restauracja Mikołaja Andrzejczaka</h2>
            {{ logo() }}
        </header>
    </div>
</section>
{% endblock %}
{{ footer() }}